* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: white;
}

html,
body {
  height: 100%;
}

body {
  background: rgba(16, 24, 32);
}

.video {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.video iframe {
  width: 100%;
  height: 100%;
  border: none;
  user-select: none;
  pointer-events: none;
  margin-top: -60px;
}

.max-width {
  width: 100%;
  max-width: 1370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centralized {
  max-width: 1370px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 32px 0;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 40;
}

.navbar-background {
  background: rgba(16, 24, 32);
}

.navbar-links {
  display: flex;
  gap: 40px;
  font-weight: bold;
  font-size: 18px;
}

.links-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-links span {
  display: block;
  cursor: pointer;
  padding-bottom: 5px;
}

.navbar-links > span:hover {
  border-bottom: 1px solid white;
}

.navbar-links > div:hover {
  border-bottom: 1px solid white;
}

.we-gojek {
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.we-gojek h1 {
  margin-bottom: 5px;
  font-size: 55px;
  font-weight: bold;
}

.we-gojek button {
  border: none;
  margin-top: 20px;
  color: white;
  background: green;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
}

.white-div {
  background: white;
  color: black;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.white-div div span,
.white-div div h2,
.white-div div p {
  color: black;
}

.white-div .lotties {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  top: -150px;
}

.white-div .lottie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white-div .lottie h2 {
  font-size: 24px;
}

.white-div .lottie p {
  width: 330px;
  font-size: 16px;
  text-align: center;
}

.white-div .we-scale h2 {
  font-size: 55px;
}

.we-scale {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.we-scale button {
  border: none;
  margin-top: 30px;
  color: white;
  background: green;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
}

.we-scale .scale-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin-top: 120px;
}

.we-scale .scale-list .scale-one {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  height: 360px;
  border-radius: 35px;
  position: relative;
}

.we-scale .scale-list .scale-one img {
  position: relative;
  top: -70px;
  max-height: 216px;
}

.we-scale .scale-list .scale-one h2 {
  font-size: 35px;
  margin-left: 30px;
}

.we-scale .scale-list .scale-one p {
  margin-left: 30px;
  margin-top: 10px;
  font-weight: bold;
}

.we-scale .scale-list .scale-green {
  background: rgba(124, 204, 108);
  box-shadow: 2px 3px 45px 0px #2dbd5de3;
}

.we-scale .scale-list .scale-purple {
  background: rgba(189, 122, 179);
  box-shadow: 2px 3px 45px 0px #bb2c9396;
}

.we-scale .scale-list .scale-orange {
  background: rgba(255, 143, 28);
  box-shadow: 2px 3px 45px 0px #ff8e0099;
}

.we-scale .scale-list .scale-blue {
  background: rgba(74, 201, 227);
  box-shadow: 2px 3px 45px 0px #00c9e7ad;
}

.first-slider {
  width: 100%;
  height: auto;
  position: relative;
}

.first-slider img {
  width: 100%;
  height: 900px;
  display: none;
}

.first-slider .indicators {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.first-slider .indicators .span-indicator {
  width: 350px;
  height: 6px;
  background: gray;
  border-radius: 15px;
}

.first-slider .indicators .span-indicator .bar {
  background: white;
  height: 100%;
  width: 0;
}

.first-slider .arrow-indicators {
  position: absolute;
  top: 40%;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.first-slider .arrow-indicators span {
  font-size: 40px;
  font-weight: bold;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.join-the-ride .overlay {
  background: #00000057;
  position: relative;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.join-the-ride .picture {
  height: 560px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  display: flex;
  justify-content: center;
  background-image: url("imgs/joinTheRide.webp");
  background-size: 100%;
  opacity: 0.5;
}

.join-the-ride h2 {
  position: absolute;
  top: 230px;
  font-size: 65px;
  z-index: 30;
  width: 100%;
  text-align: center;
}

.join-the-ride .boxes {
  position: relative;
  top: -90px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.join-the-ride .boxes .box {
  background: rgba(24, 36, 48);
  border-radius: 40px;
  height: 330px;
  width: 430px;
}

.join-the-ride .boxes .box img {
  position: relative;
  top: -40px;
}

.join-the-ride .boxes .box h3 {
  margin-top: -15px;
  font-size: 28px;
}

.join-the-ride .boxes .box p {
  margin-top: 20px;
  font-size: 15px;
  max-width: 75%;
}

.join-the-ride .boxes .box button {
  margin-top: 40px;
}

.join-the-ride .boxes .box img,
.join-the-ride .boxes .box h3,
.join-the-ride .boxes .box p,
.join-the-ride .boxes .box button {
  margin-left: 60px;
}

.join-the-ride .boxes .box button {
  margin-top: 30px;
  color: white;
  background: green;
  border: 1px solid green;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
}

.jonson {
  color: black;
  font-weight: bold;
  font-size: 40px;
  margin-right: 10px;
}

.second-slider {
  margin-top: 50px;
  width: 100%;
  height: 400px;
  background: white;
  position: relative;
  overflow: hidden;
}

.perks-slider {
  border-radius: 30px;
  position: absolute;
  top: 5%;
  width: 50%;
  height: 90%;
  transition: 1s all ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.perks-slider:nth-child(1) {
  left: -30%;
  z-index: 2;
}

.slider-one {
  background: url("imgs/perksOne.webp");
}

.perks-slider:nth-child(2) {
  left: 25%;
}

.slider-two {
  background: url("imgs/perksTwo.webp");
}

.perks-slider:nth-child(3) {
  right: -30%;
}

.slider-three {
  background: url("imgs/perksThree.webp");
}

.perks-slider:nth-child(4) {
  left: -30%;
  z-index: 0;
}

.slider-four {
  background: url("imgs/perksFour.webp");
}

.we-build {
  width: 100%;
  padding-bottom: 50px;
}

.we-build .text {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.we-build .text h2 {
  font-size: 50px;
  width: 40%;
  text-align: center;
}

.we-build .text button {
  border: none;
  margin-top: 30px;
  color: white;
  background: green;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
}

.we-build .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  max-width: 95%;
  margin: 250px auto 0 auto;
  transform: skewY(-10deg);
}

.we-build .cards .card {
  width: 260px;
  height: 400px;
  background: gray;
  border-radius: 30px;
  transform: skew(10deg);
  position: relative;
}

.we-build .cards .card .imgs {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  margin-left: 30px;
}

.we-build .cards .card .bg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.we-build .cards .card .imgs img {
  width: 110px;
  z-index: 30;
}

.we-build .cards .card .imgs p {
  z-index: 30;
}

.we-build .cards .card-one {
  background: rgba(147, 50, 142);
}

.we-build .cards .card-two {
  background: rgba(223, 25, 149);
}

.we-build .cards .card-three {
  background: rgba(0, 170, 19);
}

.we-build .cards .card-four {
  background: rgba(0, 174, 214);
}

.we-build .cards .card-five {
  background: rgba(238, 39, 55);
}

.we-build .items {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.we-build .items div {
  display: flex;
  gap: 50px;
}

.we-build .items button {
  margin-top: 10px;
  color: white;
  background: green;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  border: none;
}

.we-build .end {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  gap: 180px;
}

.we-build .end div {
  margin-top: 80px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.we-build .end div h3 {
  font-size: 50px;
}

.we-build .end div button {
  width: fit-content;
  margin-top: 20px;
  color: white;
  background: green;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  border: none;
}

.earth {
  background: rgba(74, 201, 227);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding-bottom: 200px;
  overflow: hidden;
}

.earth .first-text {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.earth .first-text h2 {
  color: black;
  font-size: 50px;
  width: 70%;
  text-align: center;
}

.earth .first-text button {
  border: none;
  margin-top: 30px;
  color: white;
  background: green;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
}

.earth .globe {
  width: 100%;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.globe-text {
  margin-top: 80px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.globe-text h2 {
  font-size: 43px;
  color: black;
}

.globe-text p {
  color: black;
  margin-top: 10px;
  max-width: 450px;
  text-align: center;
}

.globe-text button {
  margin-top: 30px;
  border: none;
  color: white;
  background: green;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
}

.earth .globe img {
  width: 45%;
  rotate: 270deg;
  z-index: 1;
}

.earth .globe .cloud {
  width: 70%;
  position: absolute;
  top: 40px;
  rotate: 0deg;
  z-index: 0;
}

.phone {
  width: 100%;
  background: rgba(24, 36, 48);
  position: relative;
}

.phone img {
  width: 100%;
}

.phone .good-to-go {
  position: absolute;
  top: 33%;
  left: 12%;
}

.phone .good-to-go h3 {
  font-size: 52px;
}

.phone .good-to-go .stores {
  margin-top: 40px;
  display: flex;
  gap: 25px;
}

.phone .good-to-go .stores button {
  background: white;
  padding: 12px 10px;
  border: none;
  border-radius: 25px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.phone .good-to-go .stores i,
.phone .good-to-go .stores span {
  color: black;
  font-weight: bold;
}

.footer {
  padding: 70px 0;
  position: relative;
}

.footer .all-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff1a;
  padding-bottom: 60px;
}

.footer .first {
  display: flex;
  flex-direction: column;
}

.footer .first .links-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.footer .first .links-list span {
  font-size: 18px;
}

.footer .first .links-list .bold {
  margin-bottom: 20px;
  font-weight: bold;
}

.footer .first .links-list div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer .first .links-list .icons {
  display: flex;
  flex-direction: row;
}

.footer .second {
  margin-top: 80px;
}

.footer .second .flex {
  display: flex;
  gap: 120px;
}

.footer .second span {
  font-size: 17px;
  text-decoration: underline;
}

.footer .second .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .second p {
  margin-top: 40px;
  width: 90%;
  font-size: 16px;
}

.footer .second .selects {
  display: flex;
  align-items: center;
  gap: 50px;
  position: absolute;
  right: 0;
}

.footer .second .selects > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer .second .selects > div span {
  text-decoration: none;
}

.footer .second .selects > div > div {
  border: 1px solid #ffffff1c;
  padding: 12px;
  width: 250px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .second .selects > div > div > i {
  font-size: 12px;
}
