* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

html,
body {
  height: 100%;
}

.max-width {
  width: 100%;
  max-width: 1370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(16, 24, 32);
  padding: 32px 0;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 30;
}

.navbar-links {
  display: flex;
  gap: 40px;
  font-weight: bold;
  font-size: 18px;
}

.links-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-links span {
  display: block;
  cursor: pointer;
}

.navbar-links > span:hover {
  border-bottom: 1px solid white;
}

.navbar-links > div:hover {
  border-bottom: 1px solid white;
}

.video {
  position: relative;
  width: 100%;
  top: 100px;
  height: calc(100% - 100px);
}

.video iframe {
  width: 100%;
  height: 100%;
  border: none;
}
